.container.portfolio__container {
    width: 40%;
}

.portfolio__item-image {
    width: 12rem;
    overflow: hidden;
    margin: 0 auto 1rem;
    
}

.slide__text {
  color: var(--color-light);
  font-size: smaller;
}

.portfolio__item {
    background: var(--color-bg-varient);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

#center {
    text-align: center;
}

.arrow {
    border: solid rgb(209, 180, 180);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }